@import 'tailwindcss';

@theme {
  --color-primary: #2d2a26;
  --color-secondary: #ffffff;
  --color-tertiary: #7f7a74;
  --color-tertiary-light: #a9a39c;
  --color-quaternary: #bebab2;
  --color-quinary: #f5f0eb;
  --color-danger: #fb2c36;

  --color-priority-primary: #16a34a;
  --color-priority-secondary: #2563eb;
  --color-priority-tertiary: #d97706;
  --color-priority-quaternary: #dc2626;

  --color-status-primary: #7f7a74;
  --color-status-secondary: #3b82f6;
  --color-status-tertiary: #f97316;
  --color-status-quaternary: #8b5cf6;
  --color-status-quinary: #16a34a;

  --background-color-input: #fafaf8;
  --background-color-card: #ffffff;
  --background-image-gradient-surface: linear-gradient(
    135deg,
    #ffffff 0%,
    #fff7f7 15%,
    #fffaf1 30%,
    #f7fff6 45%,
    #f4fbff 60%,
    #f7f5ff 80%,
    #ffffff 100%
  );
  --border-color-border: #efedea;
  --font-sans: 'Inter', sans-serif;

  --max-height-list: 40rem;
}

body {
  font-family: var(--font-sans);
}

button {
  cursor: pointer;
}
